@tailwind base;
@tailwind components;
@tailwind utilities;

/* === ROTATION ONLY === */
@keyframes autoRun {
    from {
      transform: rotateX(-16deg) rotateY(0deg);
    }
    to {
      transform: rotateX(-16deg) rotateY(360deg);
    }
  }
  

/* OUTER WRAPPER FOR PERSPECTIVE */
.slider-scene {
  perspective: 1000px;
}

/* ROTATION LAYER */
.slider-rotate {
  transform-style: preserve-3d;
  animation: autoRun 60s linear infinite;
}

/* ITEMS */
.slider-rotate .item {
  position: absolute;
  inset: 0;
}
